.profile-content {
    margin: 1rem 0.5rem;
}

.content-heigth {
    height: calc(100vh - 64px);
}

.profile-grid {
    width: 100%;
    display: flex;
    flex-direction: inherit;
}

.profile-info {
    width: calc(25% - 1rem);
    margin: 0rem 0.5rem;
}

.profile-info-general {
    width: 100%;
    padding-bottom: 0.7rem;
}

.profile-info-general-title {
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem 0;
}

.profile-info-item {
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem 0;
}

.profile-info-inner {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.profile-content-inner-name {
    border-bottom: 2px solid #3f51b5;
}

.profile-content-inner-inner {
    height: 1000px;
}

.profile-info-avatar-wrapper {
    position: relative;
    height: 20vw;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.profile-info-avatar {
    width: 100%;
}

.profile-info-text {
    padding-left: 0.5rem;
    border-left: 1px solid #3f51b5;
    margin-left: 0.5rem;
}

.profile-info-avatar-name {
    position: absolute;
    bottom: 0;
    z-index: 100;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    color: white;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.profile-content-inner {
    width: calc(75% - 1rem);
    margin: 0rem 0.5rem;
}

.profile-content-general {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 0 0 1rem;
    padding: 1rem;
}

.profile-content-general-title {
    display: flex;
    align-items: center;
    padding: 0 0 1rem;
}

.projs-card {
    background-color: #3f51b5;
    color: white;
    margin: 0 0 1rem;
}

.example-spacer {
    flex: 1 1 auto;
}

.profile-content-general-content {
    font-family: Arial, Helvetica, sans-serif;
}

.profile-info-text {
    font-family: Arial, Helvetica, sans-serif;
}

.closed-proj {
    background-color: #50bf72 !important;
}

.profile-content-general-title,
.profile-info-general-title {
    font-weight: 600;
}