.experts-wrappet {
    width: 100%;
    height: calc(100vh - 64px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 9fr 1fr;
}

.experts-wrappet>div {}

.example-spacer {
    flex: 1 1 auto;
}

.left-box {
    border-right: 1px solid rgba(0, 0, 0, .12);
    overflow-y: scroll;
}

.right-box {
    border-left: 1px solid rgba(0, 0, 0, .12);
    overflow-y: scroll;
}

.bottom-box {
    grid-column-start: 1;
    grid-column-end: 4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.7rem;
}

.bottom-box>button {
    margin: 0 0.3rem;
}

.select-item {
    font-family: Arial, Helvetica, sans-serif;
}